// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


// own style
body {
    background-size:cover;
    background-position:center center;
    background-attachment:fixed;
}
.navbar-dark.dark-links a.nav-link{
    transition:border-bottom-color .3s !important;
    border-bottom:2px solid transparent;
    color:$darkblue   !important;
}
.navbar-dark.dark-links a.nav-link:hover {
    border-bottom:2px solid white;
    border-bottom:2px solid $darkblue;
    color:#fff   !important;
    color:#253C48  !important;
}
.navbar-dark,div.card {
    background-color:#27333D !important;
    border-radius:0;
}
.card {
    margin-bottom:20px;
}
div.card .card-header ,div.card .card-body {
    border-radius:0;
    color:white;
}
.form-control {
    margin-bottom:10px;
    border-radius:0;
    border:2px solid hsla(0,0%,100%,.3);
    color:white;
    background:hsla(0,0%,100%,.07);
}
.form-control:hover {
    background:hsla(0,0%,100%,.17);
}
.form-control:focus {
    color:black;
    background:hsla(0,0%,100%,1);
}
.container p {
    color:white;
}
.card .list-group-item {
    background:none;
    border-radius:0;
    color:white;
}
.card .list-group-item:hover {
    background: hsla(0,0%,100%,.2);;
}
div.card .card-header {
    font-size:2em;
    text-align:centeR;
    background:$primary;
    text-transform:uppercase;
}
div.card .card-header.sm {
    font-size:1.3em;
    padding:3px;
}

a {
    color: $primary;
}
h1 {
    color: $primary;
    text-transform:uppercase;
}

.navbar-dark .nav-item .nav-link {
    color:white;
    text-transform:uppercase;
    transition:color .3s !important;
}
.fw.fa ,   .fa-fw-wrap .fa {
    width:20px;
    text-align:center;
}.fa-fw-wrap .btn {
    padding-top:9px;
}

.navbar-dark .nav-item .nav-link:hover {
    color: $primary !important;
}

.btn.btn-primary {
    margin-right:4px;
    border:2px solid $primary;
    color:$primary;
    text-transform:uppercase;
    box-shadow:0 0 10px #00000033;
    background:$darkblue;
    border-radius:0;
    font-weight:bolder;
}
.btn.btn-primary-danger {
    border:2px solid orangered;
    color:orangered;
}

.btn.btn-primary.disabled{
    pointer-events:none;
}
.btn.btn-primary.btn-active, .btn.btn-primary:hover {
    box-shadow:0 0 10px #00000077;
    color:$darkblue;
    background:$primary;
}
.btn.btn-primary-danger:hover, .btn.btn-primary-danger.btn-active {
    color:white;
    background:orangered;
}



.navbar-static {
    position:fixed;
    top:0;
    z-index:999;
    left:0;
    right:0;
    box-shadow:0 0 20px #00000077 !important;
}

.def h1 {
    margin-top:20px;
}
.def {
    padding:20px 30px;
    background: $darkblue;
}
.def p {
    color:white
}

.bottom-box{
    background:$darkblue;
    color:#aaaaaa;
    opacity:.9;
    padding:20px;margin-top:70px;
}
.themen, .teams {
    color:white;
}
.themen h2, h2.topline {
    margin-top:20px;
    padding-top:20px;
    border-top:1px dashed #ffffff33;
}
.teams h2 {
    text-align:center;
    margin:30px !important;
}
.team-wrapper i {
    //opacity:.4;
}
.team-wrapper div {
    text-align:center;
    margin:auto;
}
.team-wrapper div img {
    margin-bottom:20px;
    border-radius:50%;
    height:150px;    
}
@media (max-width:992px) {
    .btn.btn-primary {
        margin-bottom:8px;
        display:block;
        width:100%;
    }
    .team-wrapper div {
        padding:20px 0 !important;    
    }
    main {
        margin-top:57px !important;
    }

    #navbarSupportedContent {
        margin-top: 10px;
        border-top: 1px solid orange;
        padding-top: 10px;
    }
    #navbarSupportedContent a {
    }
    .card:first-of-type {
        margin-top:20px;
    }
    .container-fluid  {
    }
    .container-fluid > h1 {
        display:none;
    }
}
.assets .link {
    border:1px solid #ffffff66;
    padding:25px 18px;

    padding-top:19px;
}
.links .link {
    border:1px solid #ffffff33;
    padding:5px 10px;
}
.tags a {
}
hr {
    border-color:#ffffff33;
}
.container-fluid .table th, .container-fluid .table td, .container .table th, .container .table td {
    color:white;
}
.container .table , .container-fluid .table {
    background:$darkblue;
}

.btn.btn-sm {
    display:inline;
    margin:0;
    padding:1px 5px;
    border-width:1px;
}

main {   
    min-height: calc( 100vh - 242px );
}
.table td {border-top-color:hsla(0,0%,100%,.2) !important}
.table th,.table table tr td {border-top:none !important}
.table table tr td {padding:0}

#fullscreen-video {
    background:hsla(0,0%,0%,.6);
    position:fixed;top:0;right:0;bottom:0;left:0;z-index:99999;
    display: flex;
    align-items: center;
}
#fullscreen-video #wrap-spinner {
    font-size:100px;
    display:block;
    text-align:center;
    opacity:.5;
    margin-top:40vh;
    color:white;
}
#fullscreen-video #video-close-wrapper i {
    color:white;
    font-size:30px;
    margin:30px;
    display:inline-block;
    float:right;
    opacity:.6;
}
#fullscreen-video #video-close-wrapper i:hover {
    opacity:.9;
    cursor:pointer;
}
#fullscreen-video div iframe {
    margin:auto;
    margin-top:18vh;
    text-align:center;
    display:block;
}
#fullscreen-video div {
    margin:auto;
}
.video-thumb {
    background-size:cover;
    height:180px;
    width:100%;
}
.video-thumb.xl {
    height:270px;
    width:450px;
}
div.video-thumb img {
    opacity:.7;
    transition:.2s;
    transform:rotate(0deg);
}
div.video-card:hover .video-thumb img, .video-thumb:hover img {
    opacity:.9;
    cursor:pointer;
    transform:rotate(0.5deg);
}

.video-card .video-thumb {
    margin-bottom:15px;
}
.video-card{
    text-align:center;
    width:310px;
    margin:10px;
    display:inline-block;
    cursor:pointer;
    transition:.4s;
    padding-bottom:20px;
}
.video-card:hover {
    box-shadow:0 0 7px $primary;
}
.video-card .time-ago {
    opacity:.5;
}
.video-card p {
    margin:0;
}
.video-card h4 {
    text-transform:uppercase;
    margin:5px;
    color:$primary;
}
.video-cards {
    text-align:center;
}
@media (max-width:1200px) {
    .home-row  , .home-row > div  {
        display:block;
        margin:auto;
        max-width:100%;
        width:auto;
        padding:0;
        text-align:center;
    }
    .home-row > div > div  {
        margin:auto;
    }
}
@media (max-width:768px) {
    img,iframe {
        max-width:100% !important;
    }
    .video-card {
        width:100%;
        margin:22px auto;
        border:1px solid hsla(0,0%,100%,.3);
    }
    .video-thumb,.video-thumb.xl {
        width:100%;
        display:block;
        height:250px;
    }
    .container {
    }
    #fullscreen-video div iframe {
        margin-top:0;
        width:100%;
        height:250px;
    }
}
@media (max-width:450px) {
    .video-thumb,.video-thumb.xl {
        height:200px;
    }
}

.stats-bar {
    position:fixed;
    bottom:0;
    left:0;right:0;
    padding:4px 10px;
    background:#393E44;
    color:#eee;
    z-index:9999;
    display:flex !important;
    border-top:1px solid orange;
}
.stats-bar ul {
    padding:0 !important;
    margin:0 !important;
}
.dropdown-menu {
    background:#393E44;
    color:#eee;
}
.dropdown-menu .dropdown-item span{
    display:inline-blocK;
    padding-left:10px;
}
.dropdown-menu .dropdown-item{
    color:#fff;
    display: flex;
    padding: 3px 8px;
    justify-content: space-between;
}
.dropdown-menu .dropdown-item:hover {
    background:orange;
}
.dropdown-menu {
    margin-top:8px;
    padding:0;
    border:0px solid orange;
    background:#27333D;
    border-radius:0;
}
.stats-bar .dropdown-menu {
    top:auto;
    bottom:100%;    
    background:#393E44;
    margin-bottom:4px;
    border:1px solid orange;
    border-bottom:0px solid orange;
    border-radius:0;
}
.navbar-light .navbar-nav .nav-link {
    padding:4px 10px;
    color:hsla(0,0%,100%,.4);
}
.navbar-light .navbar-nav .nav-link:hover {
    color:#fff;
}
.stats-bar .dropdown-toggle::after {
    transform: rotate(180deg);
}
.indicator {
    display:inline-block;
    width:22px;
    text-align:center;
    height:22px;
    border-radius:50%;
    background:red;
}
