<template>
    <div>
        <div class="d-sm-block" style="height:15px"></div>
        <div class="card card-header text-white pb-4" style="margin-bottom:0;">
            Filter: {{applyFilters(teams).length}} Ergebniss(e)
            <div style="display:flex" class="fa-fw-wrap">
                <input v-model="filters.search" placeholder="Team-Name, Thema, Thema-Wunsch filtern ..." class="form-control" style="flex:1;margin-bottom:0;width:180px;margin-right:10px">
                <a class="btn btn-primary" @click="refreshData"><i :class="'fa fa-refresh ' + (loading && ' fa-spin')"></i></a>
                <a :class="'btn btn-primary ' + (showAD && 'btn-active')" @click="showAD=!showAD"><i class="fa fa-windows"></i></a>
                <a :class="'btn btn-primary ' + (showVideo && 'btn-active')" @click="showVideo=!showVideo"><i class="fa fa-film"></i></a>
            </div>
        </div>
        <table :style="loading && 'opacity:.7'" class="table table-striped table-hover">
            <tr>
                <th>Team-Name</th>
                <th>Members</th>
                <th class="d-none d-md-table-cell">Thema</th>
                <th class="d-none d-md-table-cell">Thema Wunsch</th>
                <th class="d-none d-md-table-cell">Dozent*in</th>
                <th width="130" v-if="showAD" class="d-none d-md-table-cell">Azure AD</th>
                <th width="130" v-if="showVideo" class="d-none d-md-table-cell">Neuester Upl.</th>
                <th class="d-none d-md-table-cell">Erstellt</th>
            </tr>
            <tr v-for="team in applyFilters(teams)">
                <td><a target="_blank" :title="'Team-ID: '+team.id" :href="getTeamRoute(team.id)"><i class="fa fa-external-link"></i> {{team.title}}</a></td>
                <td>
                    <table>
                        <tr v-for="user in team.members">
                            <td width=180 :style="user.id == team.created_by && 'color:orange'">{{user.name}}
                                <div style="font-size:.7em;line-height:1em">{{user.mobile_number}}</div>
                                <div style="font-size:.7em;line-height:1.1em">{{user.email}}</div>
                                <div style="font-size:.7em;line-height:1em;opacity:.5">{{user.weeks.map(week=>week.title).join(',')}}</div>
                                <a :href="'tel:'+user.mobile_number" class="d-md-none btn btn-primary mt-2"><i class="fa fa-phone"></i> Anrufen</a>
                            </td>
                            <td class="d-none d-md-block" v-html="prettyBio(user.bio)"></td>
                        </tr>
                    </table>
                </td>
                <td class="d-none d-md-table-cell" width="300" >
                    <div v-if="editThemaTeamId==team.id">
                        <a style="cursor:pointer" class="text-primary" @click="cancelThema(team.id)"><i class="fa fa-undo"></i> Abbrechen</a>
                        &ensp;
                        <a style="cursor:pointer" class="text-primary" @click="saveThema(team.id)"><i class="fa fa-save"></i> Speichern</a>
                        <textarea @change="saveThema(team.id)" v-model="editThemaText" class="form-control"></textarea>
                    </div>
                    <div v-else>
                        <a style="cursor:pointer" class="text-primary" @click="editThema(team.id,team.thema)"><i class="fa fa-edit"></i> Bearbeiten</a>
                        {{team.thema}} 
                    </div>
                </td>
                <td class="d-none d-md-table-cell">{{team.thema_wunsch}}</td>
                <td class="d-none d-md-table-cell" width="200">
                    <div v-if="editDocentTeamId==team.id">
                        <a style="cursor:pointer" class="text-primary" @click="cancelDocent(team.id)"><i class="fa fa-undo"></i> </a>
                        &ensp;
                        <a style="cursor:pointer" class="text-primary" @click="saveDocent(team.id)"><i class="fa fa-save"></i> </a>
                        <select @change="saveDocent(team.id)" v-model="editDocentId" class="form-control"><option value="null">Kein Dozent</option><option :value="docent.id" v-for="docent in docents">{{docent.name}}</option></select>
                    </div>
                    <div v-else>
                        <a style="cursor:pointer" class="text-primary" @click="editDocent(team.id,team.docent_id)"><i class="fa fa-edit"></i>                    {{team.docent == null ? "Kein Dozent" : team.docent["name"]}}  </a>

                    </div>
                </td>
                <td v-if="showVideo" class="d-none d-md-table-cell">
                    <a v-if="team.latest_upload !== null" :href="'/uploads/'+team.latest_upload.id" target="_blank" class="btn btn-primary btn-sm"><i class="fa fa-external-link"></i> Anzeigen</a>
                    <div v-else class="text-muted"><i class="fa fa-ban"></i> Kein Upload</div>
                </td>
                <td v-if="showAD" class="d-none d-md-table-cell">
                    <div v-if="!lockAD" @click="adSync(team.id)" class="btn btn-primary btn-sm"><i class="fa fa-refresh"></i> AD Sync</div>
                    <div v-else-if="teamIdAD == team.id" class="text-warning"><i class="fa fa-spin fa-refresh"></i> AD Syncing</div>
                    <div v-else class="text-muted"><i class="fa fa-ban"></i> Please wait</div>
                </td>
                <td class="d-none d-md-table-cell">{{team.created_ago}}</td>
            </tr>
        </table></div>
</template>

<script>
export default {
    data: function() {
        return {
            filters: {
                search: "",
                showDocents: true,
                showUsersWith: true,
                showUsersWithout: true,
                showDelete: false,
                showAdmins: true
            },
            editDocentId:0,
            showAD: false,
            showVideo: false,
            lockAD: false,
            teamIdAD: 0,
            editDocentTeamId:0,
            editThemaText:"",
            editThemaTeamId:0,
            assignTeamId: null,
            teams: [],
            docents: [],
            loading: true
        }
    },
    props: {
        "admin":{type:Object,required:true},
        "teamRoute":{type:String,required:true},
        "teamsRoute":{type:String,required:true},
        "usersRoute":{type:String,required:true},
        "teamPatchRoute":{type:String,required:true},
        "teamDeleteRoute":{type:String,required:true}
    },
    methods: { 
        adSync: function(team_id) {
            this.lockAD = true
            this.teamIdAD = team_id
            let self = this
            axios.get("/ad/createTeam/"+team_id)
            .then((response)=>{
                self.lockAD = false
            })
            .catch(function (error) {
                self.lockAD = false
            })
    },
    saveDocent: function(team_id) {
        this.patchTeam(team_id,"docent_id",this.editDocentId)
        this.editDocentTeamId=0
    },
    cancelDocent: function(team_id) {
        this.editDocentTeamId=0
    },
    editDocent: function(team_id,docent_id) {
            this.editDocentTeamId=team_id
            this.editDocentId=docent_id
        },
        saveThema: function(team_id) {
            this.patchTeam(team_id,"thema",this.editThemaText)
            this.editThemaTeamId=0
        },
        cancelThema: function(team_id) {
            this.editThemaTeamId=0
        },
        editThema: function(team_id,thema) {
            this.editThemaTeamId=team_id
            this.editThemaText=thema
        },
        prettyBio: function(bioJson) {
            if(bioJson == null) return "no skills found"
            let bio = JSON.parse(bioJson)
            if(bio.bio == null) bio.bio = ""
                let html = bio["skills"].map(skill=>skill.replace('skill_','')).join(", ").replace("springer","<span class='text-warning'><u>springer</u></span>")+"<div style=opacity:.5>"+bio.bio+"</div>"
            return html
            },
            applyFilters: function(allTeams) {
                let filters = this.filters
                let teams = allTeams

                teams = teams.filter(team=>team.members.length > 0)

                // filter for name
                if(filters.search != "")  
                    teams = teams .filter((team)=>
                            team.title.toLowerCase().includes(filters.search.toLowerCase())
                        ||  team.thema.toLowerCase().includes(filters.search.toLowerCase())
                        ||  team.thema_wunsch.toLowerCase().includes(filters.search.toLowerCase())
                    )

                return teams
                // filter show *
                if(!filters.showDocents)  
                    users = users.filter((user)=>user.is_docent == 0)

                // filter show * 
                if(!filters.showAdmins)  
                    users = users.filter((user)=>user.is_admin == 0)

                // filter show * 
                if(!filters.showUsersWith)  
                    users = users.filter((user)=>user.team_id == null || (
                        filters.showAdmins && user.is_admin == 1
                    ) || (
                        filters.showDocents && user.is_docent == 1
                    ))

                // filter show * 
                if(!filters.showUsersWithout) 
                    users = users.filter((user)=>user.team_id != null || (
                        filters.showAdmins && user.is_admin == 1
                    ) || (
                        filters.showDocents && user.is_docent == 1
                    ))

 

                // return matching resulsts
                return users
            },
            deleteUser: function(user_id) {
                axios.delete(this.$props.userDeleteRoute.replace("user_id",user_id))
                    .then((response)=>{
                        this.refreshData()
                    })
            },
            patchTeam: function(team_id,field,value) {
                axios.patch(this.$props.teamPatchRoute.replace("team_id",team_id),{
                    field,
                    value
                })
                    .then((response)=>{
                        this.refreshData()
                    })
            },
            isMe: function(user_id) {
                return user_id === this.$props.admin.id
            },
            getTeamRoute: function(teamId) {
                return this.$props.teamRoute.replace('team_id',teamId);
            },
            emailHref: function (user) {
                return `mailto:${user.email}?subject=Jugendfilmcamp Online&body=Hallo ${user.name}, %0a%0aich bin ${this.$props.admin["name"].split(" ")[0]}, einer der Jugendvertreter beim Jugendfilmcamp Online.%0aIch freue mich, dass Du Dich angemeldet hast.%0a%0aIch sehe gerade, dass Du noch keinem Team zugeornet bist. Falls Du noch Unterstützung möchtest, kannst Du mich kurz anrufen oder mir eine Mail schreiben :D %0a%0aLG ${this.$props.admin["name"].split(" ")[0]}
`
            },
            refreshData: function() {
                this.loading = true
                axios.get(this.$props.teamsRoute,{ headers: {"accept":"application/json"}})
                .then((response) => {
                    this.loading = false
                    this.teams = response.data
                }, (error) => {
                    console.log(error)
                    alert("Axios Teams Fehler")
                }); 

            }
        },
        mounted() {
            this.refreshData()
                axios.get(this.$props.usersRoute,{ headers: {"accept":"application/json"}})
                .then((response) => {
                    this.docents = response.data.filter(user=>user.is_docent==1)
                }, (error) => {
                    console.log(error)
                    alert("Axios Users Fehler")
                }); 

        }
    }
</script>
