<template>
    <div>
        <div class="d-sm-block" style="height:15px"></div>
        <div class="d-none d-md-block card card-header text-white" style="margin-bottom:0">
            Zu Team hinzufügen: <select class="form-control" v-model="assignTeamId">
                <option disabled selected value="null">--- Bitte ein Team auswählen ---</option>
                <option :value="team.id" v-for="team in teams">{{team.title}}</option>
            </select> 
        </div>
        <div class="card card-header text-white pb-4" style="margin-bottom:0;">
            Filter: {{applyFilters(users).length}} Ergebniss(e)
            <div style="display:flex" class="fa-fw-wrap">
                <input v-model="filters.search" placeholder="Name filtern ..." class="d-none d-md-block form-control" style="flex:1;margin-bottom:0;width:180px;margin-right:10px">

                <a class="btn btn-primary" @click="refreshData"><i :class="'fa fa-refresh ' + (loading && ' fa-spin')"></i></a>
                <a :class="'btn btn-primary '+(this.filters.showWeeks && 'btn-active')" @click="()=>{this.filters.showWeeks = !this.filters.showWeeks}"><i class="fa fa-calendar fw"></i></a>
                <a :class="'btn btn-primary '+(this.filters.showDocents && 'btn-active')" @click="()=>{this.filters.showDocents = !this.filters.showDocents}"><i class="fa fa-graduation-cap"></i></a>
                <a :class="'btn btn-primary '+(this.filters.showAdmins && 'btn-active')" @click="()=>{this.filters.showAdmins = !this.filters.showAdmins}"><i class="fa fa-shield"></i></a>
                <a :class="'btn btn-primary '+(this.filters.showUsersWith && 'btn-active')" @click="()=>{this.filters.showUsersWith = !this.filters.showUsersWith}"><i class="fa fa-users text-success"></i></a>
                <a :class="'btn btn-primary '+(this.filters.showUsersWithout && 'btn-active')" @click="()=>{this.filters.showUsersWithout = !this.filters.showUsersWithout}"><i class="fa fa-users text-danger"></i></a>

                <a :class="'btn btn-primary btn-primary-danger '+(this.filters.showDelete && 'btn-active')" @click="()=>{this.filters.showDelete = !this.filters.showDelete}"><i class="fa fa-trash"></i></a>
            </div>
        </div>
        <div class="card card-header text-white pb-4" v-if="filters.showWeeks" style="margin-bottom:0;">
            Folgende Wochen anzeigen:      

            <div style="display:flex" class="fa-fw-wrap">
                <a v-for="week in weeks" :class="'btn btn-primary '+(week.filter && 'btn-active')" @click="()=>{week.filter = !week.filter}">{{week.title}}</a>
            </div>
        </div>
    <table :style="loading && 'opacity:.7'" class="table table-striped table-hover">
        <tr>
            <th>Name</th>
            <th class="d-none d-md-table-cell">Skills</th>
            <th class="d-none d-md-table-cell">Email</th>
            <th>Phone</th>
            <th class="d-none d-md-table-cell">Team</th>
            <th class="d-none d-md-table-cell">Action</th>
            <th class="d-none d-md-table-cell">Erstellt</th>
        </tr>
        <tr v-for="user in applyFilters(users)">
            <td width=250>
                <i v-if="user.enabled == 1" class="fa fw fa-check text-success"></i>
                <i v-else class="fa fw fa-times text-danger"></i>

                <i v-if="user.is_admin == 1" class="fa fw fa-shield text-info"></i>
                <i v-else-if="user.is_docent == 1" class="fa fw fa-graduation-cap text-info"></i>
                <i v-else-if="user.team_id==null" class="fa fw fa-users text-danger"></i>
                <i v-else class="fa fw fa-users text-success"></i>

                <span :class="isMe(user.id) && 'text-info'" :title="'User-ID: '+user.id">{{user.name}}</span>
            </td>
            <td class="d-none d-md-table-cell">
                <div style="font-size:.7em;background:hsla(0,0%,100%,.1);margin:-1px -1px;padding:2px 3px;display:block;border-radius:2px;margin-bottom:6px;line-height:1.2em;opacity:.5">{{user.weeks.length == 0 ? "Keine Wochen" : user.weeks.map(week=>week.title).join(',')}}</div>
                <a v-if="user.bio != null" style="white-space:pre-line;margin-top:-1px;display:block;opacity:.8;line-height:1.3em;font-size:.8em" v-html="prettyBio(user.bio)"></a></td>
            <td class="d-none d-md-table-cell"><a v-if="user.email" :href="emailHref(user)"><i class="fa fa-envelope"></i> Mail</a><div style="font-size:.8em;opacity:.7;display:block;line-height:1em">{{user.email}}</div></td>
            <td width="140">

                <a :href="'tel:'+user.mobile_number" class="d-md-none btn btn-primary mt-2"><i class="fa fa-phone"></i> Anrufen</a>
                <a class="d-md-block d-none" v-if="user.mobile_number" :href="'tel:'+user.mobile_number"><i class="fa fa-phone"></i> Anruf</a><div style="font-size:.8em;opacity:.7;display:block;line-height:1em">{{user.mobile_number}}</div>
            </td>
            <td class="d-none d-md-table-cell" width="130">
                <a v-if="user.team_id>0" :href="getTeamRoute(user.team_id)" target="_blank">{{user.team.title}}</a>
            </td>
            <td class="d-none d-md-table-cell fa-fw-wrap" width=170>

                <a v-if="user.enabled == 0" class="btn btn-primary btn-sm" @click="patchUser(user.id,'enabled',1)"><i class="fa fa-check"></i></a>
                <a v-else class="btn btn-primary btn-sm btn-active" @click="patchUser(user.id,'enabled',0)"><i class="fa fa-times"></i></a>

                <a v-if="user.team_id == null" class="btn btn-primary btn-sm" @click="patchUser(user.id,'team_id',assignTeamId)"><i class="fa fa-users"></i></a>
                <a v-else class="btn btn-primary btn-sm btn-active" @click="patchUser(user.id,'team_id',null)"><i class="fa fa-users"></i></a>

                <a v-if="user.is_docent == 0" class="btn btn-primary btn-sm" @click="patchUser(user.id,'is_docent',1)"><i class="fa fa-graduation-cap"></i></a>
                <a v-else class="btn btn-primary btn-sm btn-active" @click="patchUser(user.id,'is_docent',0)"><i class="fa fa-graduation-cap"></i></a>

                <a v-if="user.is_admin == 0" class="btn btn-primary btn-sm" @click="patchUser(user.id,'is_admin',1)"><i class="fa fa-shield"></i></a>
                <a v-else class="btn btn-primary btn-sm btn-active" @click="patchUser(user.id,'is_admin',0)"><i class="fa fa-shield"></i></a>

                <a v-if="filters.showDelete && user.is_admin == 0 && user.is_docent == 0 && user.team_id == null && user.enabled == 0" class="btn btn-primary mt-1 btn-primary-danger btn-sm" style="display:block;width:139px" @click="deleteUser(user.id)"><i class="fa fa-trash"></i> User löschen</a>
                <span v-else-if="filters.showDelete" class="text-danger" style="font-size:.8em">Kann nicht gelöscht werden.</span>
            </td>
            <td class="d-none d-md-table-cell" width="130">{{user.created_ago}}</td>
        </tr>
    </table></div>
</template>

<script>
    export default {
        data: function() {
            return {
                filters: {
                    search: "",
                    showDocents: true,
                    showUsersWith: true,
                    showUsersWithout: true,
                    showDelete: false,
                    showWeeks: false,
                    showAdmins: true
                },
                assignTeamId: null,
                users: [],
                teams: [],
                weeks: [],
                loading: true
            }
        },
        props: {
            "admin":{type:Object,required:true},
            "teamRoute":{type:String,required:true},
            "teamsRoute":{type:String,required:true},
            "userPatchRoute":{type:String,required:true},
            "userDeleteRoute":{type:String,required:true}
        },
        methods: { 
            prettyBio: function(bioJson) {
                let bio = JSON.parse(bioJson)
                if(bio.bio == null) bio.bio = ""
                let html = bio["skills"].map(skill=>skill.replace('skill_','')).join(", ").replace("springer","<span class='text-warning'><u>springer</u></span>")+"<div style=opacity:.5>"+bio.bio+"</div>"
                return html
            },
            applyFilters: function(allUsers) {
                let filters = this.filters
                let users = allUsers

                // filter for name
                if(filters.search != "")  
                    users = users.filter((user)=>user.name.toLowerCase().includes(filters.search.toLowerCase()))

                // filter show *
                if(!filters.showDocents)  
                    users = users.filter((user)=>user.is_docent == 0)


                for(let i=0; i<this.weeks.length; i++) {
                    if(this.weeks[i].filter)
                        users = users.filter((user)=>{
                            for(let j=0; j<user.weeks.length; j++) {
                                if(user.weeks[j].id == this.weeks[i].id)
                                    return true
                            }
                        })
                }

                // filter show * 
                if(!filters.showAdmins)  
                    users = users.filter((user)=>user.is_admin == 0)

                // filter show * 
                if(!filters.showUsersWith)  
                    users = users.filter((user)=>user.team_id == null || (
                        filters.showAdmins && user.is_admin == 1
                    ) || (
                        filters.showDocents && user.is_docent == 1
                    ))

                // filter show * 
                if(!filters.showUsersWithout) 
                    users = users.filter((user)=>user.team_id != null || (
                        filters.showAdmins && user.is_admin == 1
                    ) || (
                        filters.showDocents && user.is_docent == 1
                    ))

 

                // return matching resulsts
                return users
            },
            deleteUser: function(user_id) {
                axios.delete(this.$props.userDeleteRoute.replace("user_id",user_id))
                    .then((response)=>{
                        this.refreshData()
                    })
            },
            patchUser: function(user_id,field,value) {
                axios.patch(this.$props.userPatchRoute.replace("user_id",user_id),{
                    field,
                    value
                })
                    .then((response)=>{
                        this.refreshData()
                    })
            },
            isMe: function(user_id) {
                return user_id === this.$props.admin.id
            },
            getTeamRoute: function(teamId) {
                return this.$props.teamRoute.replace('user_id',teamId);
            },
            emailHref: function (user) {
                return `mailto:${user.email}?subject=Jugendfilmcamp Online&body=Hallo ${user.name}, %0a%0aich bin ${this.$props.admin["name"].split(" ")[0]}, einer der Jugendvertreter beim Jugendfilmcamp Online.%0aIch freue mich, dass Du Dich angemeldet hast.%0a%0aIch sehe gerade, dass Du noch keinem Team zugeornet bist. Falls Du noch Unterstützung möchtest, kannst Du mich kurz anrufen oder mir eine Mail schreiben :D %0a%0aLG ${this.$props.admin["name"].split(" ")[0]}
`
            },
            refreshData: function() {
                this.loading=true
                axios.get("users")
                .then((response) => {
                    this.users = response.data
                    this.loading = false
                }, (error) => {
                    console.log(error)
                    alert("Axios Users Fehler")
                }); 
            }
        },
        mounted() {
            this.refreshData()
            axios.get("/weeks",{ headers: {"accept":"application/json"}})
                .then((response) => {
                    console.log(response)
                    this.weeks = response.data.map(week => {
                        week.filter = false
                        return week
                    })
                }, (error) => {
                    console.log(error)
                    alert("Axios Weekls Fehler")
                })
            axios.get(this.$props.teamsRoute,{ headers: {"accept":"application/json"}})
                .then((response) => {
                    console.log(response)
                    this.teams = response.data
                }, (error) => {
                    console.log(error)
                    alert("Axios Teams Fehler")
                })
        }
    }
</script>
