<template>
    <div>
        <div class="text-danger" v-if="error != ''">{{error}}</div>
        <textarea name="thema" class="form-control" v-model="themaNew"></textarea>
        <button type="submit" @click="updateThema" :class="['btn','btn-primary',loading && 'disabled']">
            <i v-if="loading" class="fa fa-spin fa-spinner"></i> Thema speichern
        </button>
    </div>
</template>

<script>
    export default {
        data: function() {
            return {
                themaNew: "",
                error: "",
                loading: false
            }
        },
        props: ["thema","route"],
        methods: {
            updateThema: function () {

                this.loading = true

                axios.patch(this.$props.route, {
                    thema: this.themaNew
                })
                .then((response) => {
                    this.error = ""
                    this.loading = false
                }, (error) => {
                    let errorText = error.response.data.errors.thema[0]
                    this.error = errorText
                    this.loading = false
                }); 
            }
        },
        mounted() {
            this.themaNew = this.$props.thema
            console.log('Component mounted.')
        }
    }
</script>
